<!DOCTYPE html>
<html>
<head>
  <title>Notify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= js extend_gritter :position => "bottom_right" %>
<% if flash[:notice] %>
  <%= js add_gritter(flash[:notice], :image => :success, :nodom_wrap  => true) %>
<% elsif flash[:error] %>
  <%= js add_gritter(flash[:error], :image => :error, :title => "Error", :nodom_wrap  => true) %>
<% end %>

<%= yield %>

</body>
</html>
